<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Área do Advogado
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>iLawyer</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item href="/userinfo">
        <ion-avatar slot="end">
          <img src="{{ photoUrl }}">
        </ion-avatar>
        <ion-label>
          <h3>{{name}}</h3>
          <p>{{email}}</p>
        </ion-label>
      </ion-item>
      <ion-item href="/feed/">Pagina Inicial</ion-item>
      <ion-item href="/agenda/">Agenda</ion-item>
      <ion-item href="/userinfo/">Editar Perfil</ion-item>
      <ion-item href="/time-usuarios/">Nosso Time</ion-item>
      <ion-item href="https://advocaciaac.adv.br/">Nosso Site</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>


<ion-content>

</ion-content>
