<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Editar Perfil
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>iLawyer</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item href="/userinfo">
        <ion-avatar slot="end">
          <img src="{{ photoUrl }}">
        </ion-avatar>
        <ion-label>
          <h3>{{name}}</h3>
          <p>{{email}}</p>
        </ion-label>
      </ion-item>
      <ion-item href="/feed/">Pagina Inicial</ion-item>
      <ion-item href="/agenda/">Agenda</ion-item>
      <ion-item href="/userinfo/">Editar Perfil</ion-item>
      <ion-item href="/time-usuarios/">Nosso Time</ion-item>
      <ion-item href="https://advocaciaac.adv.br/">Nosso Site</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-content>

  <ion-card>
    <center>
      <ion-card-header>
        <img src="{{ photoUrl }}" height="150" width="150">
        <br /><br />
        <ion-card-title>{{name}}</ion-card-title>
      </ion-card-header>
    </center>
    <ion-card-content>
      Email: {{email}}
      <br />
      Telefone: {{tel}}
      <br />
      Sexo: {{sexo}}
      <br />
      Nascimento: {{nasc}}
      <br />
      Cidade: {{cidade}}
      <br /><br />
      Ultima atualização: {{att}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    
    <ion-card-content>
      
      <center>
        Alterar dados
      </center>

<br/>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="tirarFoto()">Foto</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" (click)="alterarNomePopup()">Nome</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="alterarEmailPopup()">Email</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" (click)="alterarSenhaPopup()">Senha</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="alterarTelefonePopup()">Telefone</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" (click)="alterarSexoPopup()">Sexo</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="alterarNascimentoPopup()">Nascimento</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" href="/especialidade/">Especialidade</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <br /><br />
      <ion-button expand="block" color="danger" (click)="deletarContaPopup()">Deletar minha conta</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>