<ion-header>
  <div class="logo-ilawyer"></div>
  <div class="slogan texto-slogan">Encontre seu advogado</div> 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input class="input texto" type="email" placeholder="Digite seu email" [(ngModel)]="email"></ion-input>
  <ion-input class="input senha texto" type="password" placeholder="Digite sua senha" [(ngModel)]="password"></ion-input>
  <ion-button class="botao-entrar cor-botao" fill="clear" expand="block" (click)="login()">Entrar</ion-button>
</ion-content>