#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


ion-icon {
  font-size: 90px;
}
.senha{
  position: absolute;
  width: 350px;
  height: 51px;
  left: calc(50% - 350px/2);
  top: 361px;
}

.botao-cadastro {
  position: absolute;
  width: 350px;
  height: 51px;
  left: calc(50% - 350px/2);
  top: 585px;
  
  color: #3A506B;

}