<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title> user.user.displayName </ion-title>
    <ion-buttons slot="end">
      <ion-button href="\login">
        Sair
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <ion-button expand="block"><ion-icon name="images"></ion-icon></ion-button>
      </ion-col>
      <ion-col size=7>
        <ion-button expand="block" color="light">
          <ion-input type="text" placeholder="O que está acontecendo?" [(ngModel)]="text"></ion-input>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="post()"><ion-icon name="send"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>

<ion-content>

  <ion-card *ngFor="let post of posts">
    <ion-card-header>
      <ion-card-subtitle> {{ ago(post.data().created) }} atrás </ion-card-subtitle>
      <ion-card-title> {{ post.data().owner_name }} </ion-card-title>
    </ion-card-header>
    <ion-card-content> {{ post.data().text }} </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
