<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Agenda
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar>
      <ion-title>iLawyer</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item href="/userinfo">
        <ion-avatar slot="end">
          <img src="{{ photoUrl }}">
        </ion-avatar>
        <ion-label>
          <h3>{{name}}</h3>
          <p>{{email}}</p>
        </ion-label>
      </ion-item>
      <ion-item href="/feed/">Início</ion-item>
      <ion-item href="/agenda/">Agenda</ion-item>
      <ion-item href="/userinfo/">Perfil</ion-item>
      <ion-item href="/time-usuarios/">Buscar Advogado</ion-item>
    </ion-list>
  </ion-content>
  <ion-item href="/area-advogado/">Área do Advogado</ion-item>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>


<ion-content>

    <center>{{ vazio }}</center>

  <ion-card *ngFor="let agenda of agendas">
    <center>
    <ion-card-header>
      <ion-card-title>{{ agenda.data().title }}</ion-card-title>
      <br/><ion-card-subtitle>
        Cliente: {{ agenda.data().owner_name }}
        <br />
        Processo: {{ agenda.data().proc }}
      </ion-card-subtitle>
      <ion-card-subtitle>{{ ago(agenda.data().startTime) }} - {{ ateHorarioCalculo(agenda.data().startTime) }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      {{ agenda.data().desc }} <br/><br/>

      <img src="{{ agenda.data().imagem }}">
      <h3>Criado em: {{ ago(agenda.data().created) }}</h3>
      <br/>

      <ion-button size="small" color="light" (click)="menuAgendamentos(agenda.id, agenda.data().owner)">
        Opções
      </ion-button>
      <ion-button size="small" href="http://wa.me/{{agenda.data().tel}}">
        <ion-icon name="logo-whatsapp"></ion-icon>&ensp;WhatsApp
      </ion-button>
      <ion-button size="small" href="mailto:{{agenda.data().email}}">
        <ion-icon name="mail"></ion-icon>&ensp;Email
      </ion-button>
    </ion-card-content>
  </center>
  </ion-card>

</ion-content>