<ion-header>
  <div class="logo-ilawyer"></div>
  <p class="slogan texto">Encontre seu advogado</p>
</ion-header>

<ion-content>
  <ion-input class="input texto" type="name" placeholder="Digite seu nome" [(ngModel)]="name"></ion-input>
  <ion-input class="input novo-email texto" type="email" placeholder="Digite seu email" [(ngModel)]="email"></ion-input>
  <ion-input class="input senha texto" type="password" placeholder="Digite sua senha" [(ngModel)]="password"></ion-input>
  <ion-button class="botao-entrar cor-botao texto" fill="clear" expand="block" (click)="signup()">Cadastrar</ion-button>
</ion-content>