.logo {
    position: absolute;
    width: 124px;
    height: 144px;
    left: calc(50% - 124px/2);
    top: 180px;

    background: url(../../assets/img/logo.png);
}
.logo-ilawyer{
    top: 324px;
}

.botao-comecar {
    position: absolute;
    width: 350px;
    height: 51px;
    left: calc(50% - 350px/2);
    top: 518px;
    background-color: #3A506B;
    color: #fff;
    left: calc(50% - 350px/2);
}

.botao-cadastro {
    position: absolute;
    width: 350px;
    height: 51px;
    left: calc(50% - 350px/2);
    top: 585px;
    
    color: #3A506B;

}